Repository The-Ronin-Project/interop-mock-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: mock-ehr, mock-ehr-testcontainer

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      mock-ehr:
        target: auto
        threshold: 1%
        flags:
          - mock-ehr
      mock-ehr-testcontainer:
        target: auto
        threshold: 1%
        flags:
          - mock-ehr-testcontainer
      default:
        mock-ehr:
          target: 80
          threshold: 1%
          base: auto
          flags:
            - mock-ehr
        mock-ehr-testcontainer:
          target: 80
          threshold: 1%
          base: auto
          flags:
            - mock-ehr-testcontainer
        target: auto
        threshold: 1%

    patch:
      default:
        target: 80
        threshold: 1%
        base: auto

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  mock-ehr:
    paths:
      - interop-mock-ehr/
    carryforward: true
  mock-ehr-testcontainer:
    paths:
      - interop-mock-ehr-testcontainer/
    carryforward: true

Update GHAs for move to main (#231)
  .github/workflows/create_release.yml
  .github/workflows/deploy_image.yml
  .github/workflows/interop-mock-ehr-test.yml
  .github/workflows/interop-mock-ehr-testcontainer-test.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/upgrade_dependencies.yml
Due: none

fix stu3 URL (#232)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/STU3Server.kt
Due: mock-ehr

Add search by location to R4 Appointment (#234)
  interop-mock-ehr-testcontainer/src/test/kotlin/com/projectronin/interop/mock/ehr/testcontainer/InteropMockEHRTestContainerTest.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4AppointmentResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4AppointmentResourceTest.kt
Due: mock-ehr, mock-ehr-testcontainer

Make XDevApi calls thread-safe (#236)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4AppointmentDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4BinaryDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CarePlanDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CareTeamDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CommunicationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ConditionDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4EncounterDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4LocationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationRequestDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationStatementDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4OrganizationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PatientDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerRoleDAO.kt
Due: mock-ehr

INT-1447: Simplify release options (#233)
  .github/workflows/create_release.yml
  .github/workflows/mark_next_release.yml
Due: none

[INT-1398] Allow patient identifier search to be multiple (#235)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PatientDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PatientResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PatientAndBaseResourceTest.kt
Due: mock-ehr

Int 1446 bug mock ehr fails when name in search parameters contains single quote (#239)
  gradle/libs.versions.toml
  interop-mock-ehr/interop-mock-ehr.gradle.kts
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4AppointmentDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CarePlanDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CareTeamDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ConditionDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4EncounterDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4LocationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationRequestDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationStatementDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PatientDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerRoleDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/util/EscapeSQL.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PatientAndBaseResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/util/EscapeSQLKtTest.kt
Due: mock-ehr

[INT-1159] Add Encounter to Epic and Cerner (#243)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/cerner/dal/CernerDAL.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/dal/EpicDAL.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/cerner/dal/CernerDALTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/dal/EpicDALTest.kt
Due: mock-ehr

[INT-1159] Add encounters to mock ehr (#246)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
Due: mock-ehr

INT-1448 : logger (#251)
  build.gradle.kts
  gradle/libs.versions.toml
  interop-mock-ehr/src/main/resources/logback.xml
Due: mock-ehr

INT-1448 : fix logger (#252)
  build.gradle.kts
  interop-mock-ehr-testcontainer/src/test/kotlin/com/projectronin/interop/mock/ehr/testcontainer/InteropMockEHRTestContainerTest.kt
  interop-mock-ehr/interop-mock-ehr.gradle.kts
Due: mock-ehr, mock-ehr-testcontainer

INT-1448 : re-enabled test (#253)
  interop-mock-ehr-testcontainer/src/test/kotlin/com/projectronin/interop/mock/ehr/testcontainer/InteropMockEHRTestContainerTest.kt
Due: mock-ehr-testcontainer

[INT-1512] Upgrade gradle (#263)
  gradle/wrapper/gradle-wrapper.properties
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/cerner/CernerServer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/EpicServer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/BaseResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4AppointmentResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4BundleResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CareTeamResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4DocumentReferenceResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4EncounterResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4OrganizationResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PatientResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/STU3Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3AppointmentResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/handlers/MDMReceiverHandler.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/resolvers/DocumentReferenceResolver.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/EpicServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4CommunicationTransformerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4EncounterResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/hl7v2/handlers/MDMReceiverHandlerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3AppointmentResourceTest.kt
  settings.gradle.kts
Due: mock-ehr

[INT-1614] Search all Condition categories (#275)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4EncounterResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceTest.kt
Due: mock-ehr

INT-1651 - support a number of days of past observations (#282)
  gradle/libs.versions.toml
  interop-mock-ehr/interop-mock-ehr.gradle.kts
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceTest.kt
Due: mock-ehr

INT-1449: Attempt to reset DB connections on a failure (#288)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/InteropMockEHRConfig.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4AppointmentDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CarePlanDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CareTeamDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ConditionDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4EncounterDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4LocationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationRequestDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationStatementDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PatientDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerRoleDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/xdevapi/SafeXDev.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/InteropMockEHRConfigTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4OrganizationDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4AppointmentResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4BinaryResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CarePlanResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CareTeamResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CommunicationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4DocumentReferenceResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4EncounterResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4LocationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationRequestResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationStatementResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4OrganizationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PatientAndBaseResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PractitionerResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PractitionerRoleResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3AppointmentResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/xdevapi/SafeXDevTest.kt
Due: mock-ehr

Add missing component annotation (#289)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/xdevapi/SafeXDev.kt
Due: mock-ehr

Missing bean annotation (#290)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/InteropMockEHRConfig.kt
Due: mock-ehr

INT-1599 - adding search by vital codes to mock EHR (#287)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceTest.kt
Due: mock-ehr

INT-1715: make patient search not care about cases (#294)
  .github/workflows/interop-mock-ehr-testcontainer-test.yml
  interop-mock-ehr-testcontainer/src/test/kotlin/com/projectronin/interop/mock/ehr/testcontainer/InteropMockEHRTestContainerTest.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PatientDAO.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PatientAndBaseResourceTest.kt
Due: mock-ehr, mock-ehr-testcontainer

[INT-1740] Read from different field for document id (#298)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/HL7TCPServer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/handlers/MDMReceiverHandler.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/hl7v2/handlers/MDMReceiverHandlerTest.kt
Due: mock-ehr

use hardcoded internal system (#305)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PractitionerResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PractitionerResourceTest.kt
Due: mock-ehr

PLAT-221: consolidate build actions, automatically deploy to DEV on push to `main`, add manual deployments for prod, stage (#300)
  .github/workflows/deploy_image.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_stage.yml
Due: none

INT-864: Tag deploys (#317)
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_stage.yml
  CODEOWNERS
Due: none

Require main-image-push before deploying to ArgoCD (#318)
  .github/workflows/deploy_image.yml
Due: none

INT-1841: Support server versioning (#319)
  .github/workflows/create_release.yml
  build.gradle.kts
  interop-mock-ehr-testcontainer/interop-mock-ehr-testcontainer.gradle.kts
  settings.gradle.kts
Due: mock-ehr-testcontainer

PLAT-310: bump version of upstream tagging logic to match bug fix from previously (#322)
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_stage.yml
Due: none

INT-1758: requestGroup added to mock ehr with test (#326)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4RequestGroupDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4RequestGroupResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4RequestGroupDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4RequestGroupResourceTest.kt
Due: mock-ehr

Rollback logstash to 7.3 (#327)
  gradle/libs.versions.toml
Due: none

[INT-1755] Allow Epic to support RequestGroup (#328)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
Due: mock-ehr

Int 1867 implement care plan mock ehr support (#334)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CarePlanDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CarePlanResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CarePlanResourceTest.kt
Due: mock-ehr

QUAL-1434: remove devex from owning .github files (#336)
  CODEOWNERS
Due: none

INT-1894 Updating mock ehr to new dependency plugin and gha (#335)
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  interop-mock-ehr-testcontainer/interop-mock-ehr-testcontainer.gradle.kts
  interop-mock-ehr/interop-mock-ehr.gradle.kts
  settings.gradle.kts
Due: mock-ehr, mock-ehr-testcontainer

Fix bootJar (#337)
  build.gradle.kts
Due: none

INT-1979: Add search by date range to MockEHR DocumentReference (#341)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4DocumentReferenceResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4DocumentReferenceResourceTest.kt
Due: mock-ehr

INT-2006: support multiple IDs for query (#338)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/BaseResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3BaseResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PatientAndBaseResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3AppointmentResourceTest.kt
Due: mock-ehr

Run dependency upgrades on Saturday and Wednesday (#342)
  .github/workflows/upgrade_dependencies.yml
Due: none

add STU3 MedicationStatement service to Mock EHR (#345)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/STU3Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3MedicationStatementProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/STU3ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3MedicationStatementTest.kt
Due: mock-ehr

INT-2028 - Cerner does not give MedicationStatement resources (#347)
  README.md
  interop-mock-ehr/README.md
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
Due: mock-ehr
