Repository The-Ronin-Project/interop-mock-ehr: changes, and which Codecov flags are due for each by the changed paths.
All: mock-ehr, mock-ehr-testcontainer

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      mock-ehr:
        target: auto
        threshold: 1%
        flags:
          - mock-ehr
      mock-ehr-testcontainer:
        target: auto
        threshold: 1%
        flags:
          - mock-ehr-testcontainer
      default:
        mock-ehr:
          target: 80
          threshold: 1%
          base: auto
          flags:
            - mock-ehr
        mock-ehr-testcontainer:
          target: 80
          threshold: 1%
          base: auto
          flags:
            - mock-ehr-testcontainer
        target: auto
        threshold: 1%

    patch:
      default:
        target: 80
        threshold: 1%
        base: auto

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  mock-ehr:
    paths:
      - interop-mock-ehr/
    carryforward: true
  mock-ehr-testcontainer:
    paths:
      - interop-mock-ehr-testcontainer/
    carryforward: true

clean up test displays (#98)
  interop-mock-ehr-testcontainer/interop-mock-ehr-testcontainer.gradle.kts
  interop-mock-ehr-testcontainer/src/test/resources/logback-test.xml
  interop-mock-ehr/interop-mock-ehr.gradle.kts
  interop-mock-ehr/src/test/resources/logback-test.xml
Due: mock-ehr, mock-ehr-testcontainer

INT-839 multiple CodeableConcept FHIR Token search params (#103)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4DocumentReferenceResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4DocumentReferenceResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceTest.kt
Due: mock-ehr

update PR Template (#106)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

INT-903: SendMessage message text is an array (#109)
  gradle/libs.versions.toml
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4CommunicationTransformer.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/EpicServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4CommunicationTransformerTest.kt
Due: mock-ehr

Add STU3 FHIR server for Appointments and Patients. Also, slight reorganization. (#112)
  gradle/libs.versions.toml
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4BinaryDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CommunicationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ConditionDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4LocationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerRoleDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/BaseResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4AppointmentResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4BinaryResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4BundleResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CommunicationResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4DocumentReferenceResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4LocationResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PractitionerResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PractitionerRoleResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/STU3Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/dao/STU3AppointmentDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/dao/STU3BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/dao/STU3PatientDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3AppointmentResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3BaseResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3PatientResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/BaseMySQLTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/STU3ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3AppointmentResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3PatientAndBaseResourceTest.kt
Due: mock-ehr

New approach for STU3 in MockEHR (#114)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4AppointmentDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/ConverterUtil.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/STU3Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/dao/STU3AppointmentDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/dao/STU3BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/dao/STU3PatientDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3AppointmentResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3BaseResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3PatientResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/STU3ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3AppointmentResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3PatientAndBaseResourceTest.kt
  settings.gradle.kts
Due: mock-ehr

Use auto injection for FhirContext (#116)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/InteropMockEHRConfig.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4AppointmentDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4BinaryDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CommunicationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ConditionDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4LocationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PatientDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4PractitionerRoleDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/STU3Server.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/InteropMockEHRConfigTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4AppointmentResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4BinaryResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CommunicationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4DocumentReferenceResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4LocationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ObservationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PatientAndBaseResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PractitionerResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4PractitionerRoleResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/STU3ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3AppointmentResourceTest.kt
Due: mock-ehr

make sure timestamps are OK according to FHIR regex (#123)
  init/resources/SetA/Appointment/Appointment_e216.json
  init/resources/SetA/Appointment/Appointment_e217.json
Due: none

use CSN now (#124)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3AppointmentResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3AppointmentResourceTest.kt
Due: mock-ehr

Allow multiple identifiers for STU3 appointments (#127)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/providers/STU3AppointmentResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/stu3/providers/STU3AppointmentResourceTest.kt
Due: mock-ehr

return internal provider ID instead of FHIR id for appointments (#129)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformer.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformerTest.kt
Due: mock-ehr

Allow multiple categories to be searched at once for conditions (#138)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ConditionDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceTest.kt
Due: mock-ehr

Allow systems for clinical status, fix null error (#139)
  README.md
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceTest.kt
Due: mock-ehr

BUG: Transform to actual statuses (#141)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformer.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformerTest.kt
Due: mock-ehr

add data: Condition category encounter-diagnosis (#142)
  init/README.md
  init/resources/SetA/Appointment/Appointment_e217.json
  init/resources/SetA/Condition/Condition_I7Q3.json
Due: none

[INT-777] Implement MDM Receiver (#156)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/HL7HTTPServer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/HL7TCPServer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/handlers/MDMReceiverHandler.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/resolvers/DocumentReferenceResolver.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/resolvers/PatientResolver.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/hl7v2/HL7HTTPServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/hl7v2/HL7TCPServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/hl7v2/handlers/MDMReceiverHandlerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/hl7v2/resolver/DocumentReferenceResolverTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/hl7v2/resolver/PatientResolverTest.kt
Due: mock-ehr

Upgrade gradle plugin versions (#157)
  interop-mock-ehr-testcontainer/interop-mock-ehr-testcontainer.gradle.kts
  interop-mock-ehr/interop-mock-ehr.gradle.kts
  settings.gradle.kts
Due: mock-ehr, mock-ehr-testcontainer

INT-1130: Handle MDM document identifier with a single quote character (#159)
  .gitignore
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/handlers/MDMReceiverHandler.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4DocumentReferenceDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/hl7v2/handlers/MDMReceiverHandlerTest.kt
Due: mock-ehr

INT1101: add Medication and MedicationStatement (#158)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationStatementDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationResourceProvider.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationStatementResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationStatementResourceTest.kt
Due: mock-ehr

Update to 2.1.2 of interop-gradle plugins (#160)
  settings.gradle.kts
Due: none

return department id (#162)
  init/resources/SetA/Appointment/Appointment_e216.json
  init/resources/SetA/Location/Location_3e6c.json
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/dal/EpicDAL.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformer.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformerTest.kt
Due: mock-ehr

Report department ID as external type (#163)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformer.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/transform/R4AppointmentTransformerTest.kt
Due: mock-ehr

INT-1153: Upgrade gradle plugins (#170)
  settings.gradle.kts
Due: none

INT-1153: Upgrade to gradle plugins 2.1.4 (#173)
  settings.gradle.kts
Due: none

INT-1239: Repo maintenance (#180)
  .github/workflows/snapshot_publish.yml
  .github/workflows/upgrade_dependencies.yml
  CODEOWNERS
Due: none

INT-1182: allow searching by departments for Epic appointments (#179)
  gradle/libs.versions.toml
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/EpicServer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/epic/dal/EpicDAL.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/EpicServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/epic/dal/EpicDALTest.kt
Due: mock-ehr

INT-1221: Upgrade to interop-gradle 2.2.0 (#182)
  settings.gradle.kts
Due: none

Update libs.versions.toml (#185)
  gradle/libs.versions.toml
Due: none

INT-1286: GHA to block PR merge when snapshots present (#197)
  .github/workflows/verify_mergeable.yml
Due: none

[INT-1250] Add mock Cerner Auth (#202)
  gradle/libs.versions.toml
  interop-mock-ehr/interop-mock-ehr.gradle.kts
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/cerner/CernerServer.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/cerner/dal/CernerDAL.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/cerner/CernerServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/cerner/dal/CernerDALTest.kt
Due: mock-ehr

INT-1215 - add CareTeam, clean up FHIR token search (#205)
  gradle/libs.versions.toml
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/BaseResourceDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CareTeamDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4ObservationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CareTeamResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CareTeamResourceTest.kt
Due: mock-ehr

INT-1237 - add Organization, search by identifier (#206)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4OrganizationDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4OrganizationResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4OrganizationDAOTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4ConditionResourceTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4OrganizationResourceTest.kt
Due: mock-ehr

[INT-1230] Move converters to standardized files (#207)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/converters/HL7Converters.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/hl7v2/resolvers/PatientResolver.kt
Due: mock-ehr

[INT-1221] CarePlan MockEHR (#211)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4CarePlanDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CarePlanResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4CarePlanResourceTest.kt
Due: mock-ehr

add MedicationRequest, add R4ServerTest cases (#215)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4MedicationRequestDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationRequestResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4MedicationRequestResourceTest.kt
Due: mock-ehr

INT-1380: Upload JUnit results to DataDog (#216)
  .github/workflows/interop-mock-ehr-test.yml
  .github/workflows/interop-mock-ehr-testcontainer-test.yml
  CODEOWNERS
Due: none

INT-1190: adding encounter to mock ehr (#222)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/dao/R4EncounterDAO.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4EncounterResourceProvider.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/providers/R4EncounterResourceTest.kt
Due: mock-ehr

INT-1417: allow vendor specific filtering (#224)
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/STU3Server.kt
  interop-mock-ehr/src/test/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4ServerTest.kt
Due: mock-ehr

BUGFIX: fix typo (#227)
  interop-mock-ehr-testcontainer/src/test/kotlin/com/projectronin/interop/mock/ehr/testcontainer/InteropMockEHRTestContainerTest.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/r4/R4Server.kt
  interop-mock-ehr/src/main/kotlin/com/projectronin/interop/mock/ehr/fhir/stu3/STU3Server.kt
Due: mock-ehr, mock-ehr-testcontainer

INT-1411 - Update PULL_REQUEST_TEMPLATE.md (#228)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none
